/*
  Theme: Grey
  Updated 27.10.2023 11:25
*/
:root {
  --main-color: #fff;
  --element-radius: 2px;
  --obs-panel-font: normal 12px -apple-system, BlinkMacSystemFont, 'Open Sans', '.AppleSystemUIFont', Helvetica, Arial, 'MS Shell Dlg', sans-serif;
  --obs-background: #212121;
  --obs-panel: #2f2f2f;
  --obs-button-background: #434343;
  --obs-button-alt-background: #595959;
  --obs-button-border: #233166;
  --obs-button-hover-background: #595959;
  --obs-button-hover-border: none;
  --obs-button-active-background: #595959;
  --obs-switch-active-background: #595959;
  --obs-button-color: #fefefe;
  --obs-button-alt-color: #bed8f2;
  --obs-button-disable-color: #5c5959;
  --obs-tooltip-color: #28282a;
  --obs-select-background-focus: #191b26;
  --obs-field-background: #434343;
  --obs-field-background-disable: #db271a;
  --obs-field-border-focus: #284cb8;
  --obs-field-border-hover: #63666f;
  --obs-panel-border: none;
  --obs-scrollbar-color: #28282a;
  --obs-scrollbar-thickness: 7px;
  --obs-scrollbar-radius: 0px;
  --obs-tab-background: #2f2f2f;
  --obs-tab-border: none;
  --obs-tab-active-background: #434343;
  --obs-tab-active-border: #252a45;
  --obs-tabs-separator: #2f2f2f;
  --alt-preview-background: linear-gradient(135deg, #0b0b0c 0%,
                                                    #0b0b0c 8%,
                                                    #08080b 10%,
                                                    #08080b 18%, 
                                                    #0b0b0c 20%, 
                                                    #0b0b0c 28%, 
                                                    #08080b 30%, 
                                                    #08080b 38%, 
                                                    #0b0b0c 40%, 
                                                    #0b0b0c 48%, 
                                                    #08080b 50%, 
                                                    #08080b 58%, 
                                                    #0b0b0c 60%,
                                                    #0b0b0c 68%, 
                                                    #08080b 70%, 
                                                    #08080b 78%, 
                                                    #0b0b0c 80%, 
                                                    #0b0b0c 88%, 
                                                    #08080b 90%, 
                                                    #08080b 98%, 
                                                    #0b0b0c 100%);
}

.panel {
  font: var(--obs-panel-font) ;
}
.panel-bottom label[title] {
  color: var(--obs-tooltip-color) ;
}
.panel-bottom > ul > li > div {
  visibility: hidden!important;
}
.panel-bottom > ul > li.stored > div {
  visibility: visible!important;
}
.panel-bottom > ul > li.stored {
  background: var(--obs-button-alt-background) ;
  border: none; #161f41
}
.panel-bottom > ul > li.active-slot {
  background: var(--obs-button-background) ;
  color: var(--obs-button-alt-color) ;
  border: none;;
}
.panel-bottom > .config-btn > input + .icon {
  background: var(--obs-button-disable-color) ;
}
.panel-bottom > .config-btn > input:checked + .icon {
  background: var(--obs-button-color) ;
}
.panel-bottom > label[id^="alt-"][id$="-custom-times"] > .icon {
  background: var(--obs-button-disable-color) ;
}
.panel-bottom > label[id^="alt-"][id$="-custom-times"].active > .icon {
  background: var(--obs-button-color) ;
}
#alt-panel > #alt-main-config-content > div {
  background: var(--obs-background);
  border-radius: 3px;
}
#sortable > div[id^="alt-"].sortees > div[id^="alt-"][id$="-config-content"] > div {
  background: var(--obs-panel);
}
.panel button.active {
	border-bottom: 2px solid var(--main-color);
}
.panel button.active:hover {
	background: var(--obs-tab-active-background);
}
.panel button.active:hover {
	background: var(--obs-tab-active-background);
}
.panel .btn-settings:hover {
	background: var(--obs-button-hover-background);
}
.panel .import-file-btn > label:hover {
	background: var(--obs-button-hover-background);
}
.panel input:focus, .panel select:focus, .panel .logo-container:focus {
	background: var(--obs-background);
  border: 1px solid var(--obs-field-border-focus);
  border-radius: 1px;
}
.panel input, .panel select, .panel .logo-container {
	background: var(--obs-field-background);
}
#tab-appearance {
  background-color: var(--obs-panel);
  border-radius: 3px;
}
#global-configuration #theme-options #theme:focus {
  background-color: var(--obs-select-background-focus);
  border: none;
}

.tab {
  position: relative; /* Make sure the parent element is positioned */
  border-bottom: 2px solid var(--obs-tabs-separator);
}
.tab:after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--obs-background);
  position: absolute;
  bottom: 0;
  width: 100%;
}